{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">

        <h1>{{ fruit.name }}</h1>

        <div style="width: auto;margin:auto 80px;">
            <img src="{{ fruit.photo }}" width="180" height="180"
                 class="img-rounded"/>
            <h2>
                现价:
                <div style="color: red;"> ￥:<Strong>{{ fruit.price }}</Strong></div>
            </h2>
        </div>


        <div class="well ">
            <h3>商品介绍:</h3>
            <p>{{ fruit.introduction }}</p>


        </div>
        <div align="center">
            <a href="{{ url_for('cart',id = fruit.id) }}" class="btn btn-default btn-lg" role="button">加入购物车</a>
        </div>
    </div>
    </div>
{% endblock %}

