{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}主页{% endblock %}
{% block page_content %}
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.search) }}
        {{ wtf.form_field(form.submit) }}
    </form>
    <div class="page-header">
        <div class="list-group">
            {% for fruit in fruits %}
                <a href="{{ url_for('fruit',id=fruit.id)  }}" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{ fruit.name }}
                    </h4>
                    <p class="list-group-item-text">
                        ￥: <Strong>{{ fruit.price }}</Strong>
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
