{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}主页{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.search) }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            {% for fruit in fruits %}
                <a href="{{ url_for('fruit',id=fruit.id) }}" class="list-group-item col-md-2">
                    <div align="center">
                        <img src="{{ fruit.photo }}" width="88" height="88"
                             class="img-rounded"/>
                        <h4 class="list-group-item-heading">
                            {{ fruit.name }}
                        </h4>
                        <p class="list-group-item-text">
                            ￥: <Strong>{{ fruit.price }}</Strong>
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
